.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.titleBar {
    float: left;
    margin: -8px 50px;
}

.topPanel {
    padding: 20px;
    box-sizing: border-box;
}

.leftPanel {
    float: left;
    width: 200px;
}

.rightPanel {
    float: right;
    width: calc(100% - 200px);
    padding: 20px;
    box-sizing: border-box;
}

.imageList {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.imageList img {
    width: 65px;
    margin: 5px;
}

.logogrid {
    display: flex;
}

.logogrid img {
    flex: 0 1 100%;
    align-self: center;
}

.overlayStyle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5em 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff
}