
.titleBar {
    margin: 0 20px;
  }

.topPanel {
    box-sizing: border-box;
}

.topPanel p {
    color: #333;
    margin: 20px;
  }

  .topPanel > div {

    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

}

.leftPanel {
    float: left;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.rightPanel {
    background: #eee;
    min-height: calc(100vh - 150px);
}

.flexMenu .flexTable .propertyName {
    margin-right: 20px;
    margin-bottom: 5px;
}

.flexMenu .flexTable .propertyValue {
    margin-right: 10px;
}

.flexMenu .flexTable .propertyValue:not(.active) a {
    text-decoration: none;
}

.flexMenu hr {
    color: #eee;
}

.rightPanel {
    float: right;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.imageList {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.imageList img {
    width: 65px;
    margin: 5px;
}

body > .img {
    list-style-type: none;
}
body > .img > img {
    max-width: 50%;
    border: 1px dashed black;
}

.logogrid {
    overflow: scroll;
}

.logogrid img {
    width: 100%;
}

.overlayStyle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5em 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff
}

  .canvasWrapper {
    text-align: center;
    display: table;
    border-spacing: 10px;
  }
  .canvasWrapper.width .size {
    border-bottom: 1px solid black;
  }
  .canvasWrapper.height {
    border-right: 1px solid black;
    vertical-align: middle;
  }
  .canvasWrapper.height .size {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    margin-right: -5px
  }
  
  .exportedImageContainer img {
    max-width: 100%;
    height: auto;
  }