.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.titleBar {
    float: left;
    margin: -8px 50px;
}

.topPanel {
    padding: 20px;
    box-sizing: border-box;
}

.leftPanel {
    float: left;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.rightPanel {
    background: #eee;
    height: calc(100vh - 150px);
}

.flexMenu .flexTable .propertyName {
    margin-right: 20px;
    margin-bottom: 5px;
}

.flexMenu .flexTable .propertyValue {
    margin-right: 10px;
}

.flexMenu .flexTable .propertyValue:not(.active) a {
    text-decoration: none;
}

.flexMenu hr {
    color: #eee;
}

.rightPanel {
    float: right;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.imageList {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.imageList img {
    width: 65px;
    margin: 5px;
}

.logogrid {
    display: flex;
    justify-content: center;
}

.logogrid img {
    width: 100%;
}

.overlayStyle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5em 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff
}

.showSize.width {
    text-align: center;
  }
  .showSize.width > .size {
    position: relative;
    padding: 0 10px;
  }
  .showSize.width > .size::before {
    right: 100%;
    content:"\2190";
    text-align: left;
  }
  .showSize.width > .size::after {
    left: 100%;
    content:"\2192";
    text-align: right;
    
  }
  .showSize.width > .size::before, .showSize.width > .size::after {
    position: absolute;
    height: 9.5px;
    border-bottom: 1px solid black;
    top: 0;
    width: 100%;
  }


.showSize.height > .size {
    float: left;
    margin: 5px;
  }
  .showSize.height {
    display: flex;
    align-items: center;
  }
  
  .showSize.height > .size::before {
    content:"\2191";
    position: relative;
    top: -20px;
    left: 30px;
  }
  
  .showSize.height > .size::after {
    content:"\2193";
    position: relative;
    top: 20px;
    left: -30px;
  }